h1,
h2 {
  font-family: "Lora", serif;
}

#header {
  background: url(img/1.jpg);
  background-size: cover;
  background-position: center;
}
.myintro {
  font-size: 20px;
}

#header h1,
#header p,
#header a {
  color: #fff;
}

#services {
  background: #fff;
}

#work {
  background: #fafafa;
}

#testimonies {
  background: #fafafa;
}


#footer {
  background: #000;
}

#footer p {
  color:#fff;
  font-size: 14px;
}